<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <? if (count($this->articles) > 0) : ?>
    <? foreach($this->articles as $article) : ?>
    <tr>
      <td><?=$article->name ?></td>
      <td><?=$article->content ?></td>
      <td><a href="/articles/<?=$article->id?>">Show</a></td>
      <td><a href="/articles/<?=$article->id?>/edit">Edit</a></td>
      <td><a href="/articles/<?=$article->id?>/delete">Delete</a></td>
    </tr>
    <? endforeach ?>
  <? endif ?>
</table>

<br />

<a href="/articles/add">New Post</a>
